@import "tailwindcss";
@plugin "daisyui";

/* mycustomlight theme */
[data-theme="mycustomlight"] {
  --color-base-100: #fcfaee; /* app background */
  --color-base-content: #000000; /* main text black */
  --color-primary: #b8001f; /* buttons or secondary background */
  --color-primary-content: #ffffff; /* button text white */

  --color-secondary: #b8001f;
  --color-accent: #b8001f;
  --color-neutral: #000000;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbf24;
  --color-error: #f87272;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}

/* mycustomdark theme */
[data-theme="mycustomdark"] {
  /* dark background */
  --color-base-100: #00032e;
  /* --color-base-100: #030637;       */
  --color-base-content: #ffffff; /* text white */
  --color-primary: #433d8b; /* buttons background */
  --color-primary-content: #ffffff; /* button text white */

  --color-secondary: #f5f5f5;
  --color-accent: #fbbf24;
  --color-neutral: #1f2937;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #a0153e;
  --color-error: #f87272;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}

[data-theme="mycustomlight"] {
  --badge-available: #16a340; /* Tailwind emerald-600 */
  --badge-unavailable: #e11d48; /* Tailwind rose-600 */
}

[data-theme="mycustomdark"] {
  --badge-available: #22c55e; /* Slightly brighter green for dark */
  --badge-unavailable: #f43f5e; /* Slightly brighter rose for dark */
}

/* In your style tag or Tailwind classes */

.overflow-hidden.rounded-xl img {
  transition: transform 0.3s ease;
}

.overflow-hidden.rounded-xl img:hover {
  transform: scale(1.05);
}
